.selectCard{
    display: flex;
    position: relative;
    flex-direction: row;
    border-radius: 2%;
    flex: 40%;
    outline: 2px solid #000;
}
.selectCard img{
    width: 150px;
    height: auto;
    margin-right: 10px;
}
.selectCard h1{
    width: 50%;
    margin: 0;
}

@media (max-width: 768px){
    .selectCard{
        flex: 80%;
    }

}
